.corr-panel {
    width: 300px;
    height: 100%;
    background: #313131;
    text-align: center;
    overflow: auto;
    /* ela*/
}
.corr-panel input {
    width: 200px;
    margin-bottom: 15px;
    border-radius: 3px;
    font-size: 16px;
}

.corr-panel label {
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    display: block;
    margin-top: 15px;
    padding: 0 10px;
}

.corr-panel input[type="text"] {
    background: #FFF;
    display: block;
    margin: 0 auto 10px auto;
    text-transform: uppercase;
    color: #888;
}

.corr-toggle {
    position: fixed;
    top: 0;
    margin: 10px;
    font-size: 12px;
    line-height: 200%;
    width: 115px;
    color: #FFF;
    background: #00B3FF;
    border-radius: 3px;
    text-align: center;
    cursor: pointer;
    z-index: 9999;
}

.corr-toggle:hover {
    background: #0084FF;
}

.corr-panel .corr-submit {
    border-radius: 3px;
    background: #17C26F;
    color: #FFF;
    border: 0;
    float: left;
    width: 100px;
    cursor: pointer;
}

.corr-panel .corr-submit:hover {
    background: #0F8049;
    cursor:pointer;
}

.corr-panel .corr-cancel {
    width: 90px;
    float: left;
    background: #FF414F;
    margin: 0px 10px 0 18px;
    border: 0;
    color: #fff;
}

.corr-panel .corr-cancel:hover {
    background: #CE3540;
    cursor:pointer;
}

.corr-panel .iris-picker {
    margin: 0 25px 15px 25px;
}

.corr-panel .iris-rounder {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    position: absolute;
    margin: -38px 24px 0 0;
    right: 0;
    background: #EEE;
}